.container  {
    padding: 10px;
    padding-left: 180px;
}
.header {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
h2 {
    padding-left: 50px;
    margin-top: 70px;
    font-size: xx-large;
    color:rgb(255, 195, 43);  

}
.addUser {
    background-color: #B20530;
    color: #FFF;
    padding: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 10vw;
    font-size: medium;
} 

h3 {
    color: #B20530;
    font-size: 35px;
}
.cancel {
    margin-right: 63px;
    background-color: #B20530;
    color: #FFF;
    padding: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 10vw;
    height: 7vh;
    font-size: medium;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 260px;
}

button {
    margin-top: 20px;
}